/***************************************************************************************************************************************************************************************************************************************/
body{
z-index:0;
height:100%; width:100%;
margin:auto;
background-color:black; color:green;
font-family:"Lucida Console", Monaco, monospace;
font-size:1vw;
overflow:auto;
}
#panel{
width:100%;
margin:0px;
padding:0px;
overflow:auto;
background-color:green;
color:black;
}
.top{
position:fixed;
top:0;
left:0;
z-index:2;
}
.bottom{
position:fixed;
bottom:0;
left:0;
z-index:2;
text-align:center;
}
#spacer{
color:black;
width:100%;
}

.menu{
height:100%;
margin:0px;
padding-left:1em;
padding-right:1em;
text-decoration:none;
text-align:center;
display:inline;
}
a{
padding:0px;
margin:0px;
text-decoration:none;
color:black;
}
a:hover{
background-color:black;
color:green;
}
table{ margin:0px;padding:0px;}
tr{ margin:0px;padding:0px; } 
td{ margin:0px;padding:0px; }
/****************************************************************************************************************************************************************************************/

.login{
position:absolute;
top:50%;
left:50%;
transform: translateY(-50%);
transform: translateX(-50%);
}

/****************************************************************************************************************************************************************************************/
.left{ float:left }
.right{ float:right }
.center{ margin:auto; }
p,h1,h2,h3,h4,h5,h6 { margin:0px; padding:0px; }

form{ padding:0px; margin:0px; }
fieldset { border:1px green solid; margin:1vh;padding:1vh; }
legend { background-color:black; color:green;}
input{ font-size:1vw; margin:1px; padding:1px; background-color:green; color:black; border:none; }

/*****************************************************/
::-webkit-input-placeholder { color: black; }
:-moz-placeholder { color: black; }
::-moz-placeholder { color: black; }
:-ms-input-placeholder { color: black; }
/*****************************************************/


